

#copy_Mail {
    all: unset;
    background-color: rgba(118, 118, 118, 0);
    backdrop-filter: blur(10px);
}

#email {
    display: flex;
    justify-content: left;
    text-align: left;
    gap: 5px;
    padding: 5px;
    width: max-content;
    height: max-content;
}

.contact {
    display: flex;
    justify-content: left;
    margin: 10px;
    width: 100%;
    padding: 100px;
}

#h1-contact {
    text-align: left;
    margin-left: 10px;
    padding-top: 50px;
}