.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonnes sur PC */
  gap: 20px;
}

.project {
  /* enlève width:40% pour laisser grid gérer */
  height: min-content;
  padding: 10px 15px 25px;
  border-radius: 15px;
  background-color: rgba(var(--background-rgb), 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(6px); /* compatibilité Safari */
  color: var(--text);
  box-shadow: 0 4px 15px rgba(var(--primary-rgb), 0.8);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Effet hover */
.project:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 8px 25px rgba(var(--accent-rgb), 0.3);
  backdrop-filter: blur(10px);
}

/* Mobile */
@media (max-width: var(--mobile)) {
  .projects {
    grid-template-columns: 1fr; /* une seule colonne */
  }
}
